<div class="container-fluid d-flex flex-column" style="max-height: fit-content;">
  <div class="row">
    <div class="container-fluid d-flex justify-content-between mt-3">
      <div>
        <h6>Inventory vendors</h6>
      </div>
      <div>
        <button
          class="btn btn-sm btn-outline-dark"
          data-bs-toggle="modal"
          data-bs-target="#moveToCartModal"
          (click)="onMoveToCart()"
        >
          Move to cart
        </button>
        <button
          class="btn btn-sm btn-outline-dark ms-1"
          (click)="downloadExcel()"
          *ngIf="this.role == 2 || this.role == 3"
        >
          Download all
        </button>
        <button
          class="btn btn-sm btn-outline-dark ms-1"
          data-bs-toggle="modal"
          data-bs-target="#importFileModal"
          *ngIf="this.role == 3"
        >
          Import
        </button>
        <button
          class="btn btn-sm btn-primary ms-1"
          data-bs-toggle="modal"
          data-bs-target="#addProductModal"
          *ngIf="this.role == 3"
        >
          + Add product
        </button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid d-flex justify-content-between m-2">
      <div>
        <button class="btn btn-sm btn-outline-dark custom-btn-1 status-grey">
          View all
        </button>
        <button
          class="btn btn-sm btn-outline-dark custom-btn-2"
          (click)="changeToCartComponent()"
        >
          Cart
        </button>
        <button 
          class="btn btn-sm btn-outline-dark custom-btn-2"
          (click)="changeToExcelFilesComponent()"
        >
          Files
        </button>
      </div>
      <div class="col-5 d-flex mx-2">
        <form [formGroup]="searchForm" class="w-100">
          <input
            class="form-control form-control-sm mr-sm-2"
            type="search"
            formControlName="inputValue"
            (keyup)="onSearch($event)"
            placeholder="Search"
          />
        </form>
        <div class="dropdown">
          <button
            class="btn btn-sm dropdown-toggle border"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="../../../../../assets/logos/filter.svg" alt="" />
            Filter
          </button>
          <ul class="dropdown-menu">
            <li>
              <input
                type="checkbox"
                class="btn ms-2"
                (click)="onAddSearchFilter('ProductName')"
              />
              Product Name
            </li>
            <li>
              <input
                type="checkbox"
                class="btn ms-2"
                (click)="onAddSearchFilter('Category')"
              />
              Category
            </li>
            <li>
              <input
                type="checkbox"
                class="btn ms-2"
                (click)="onAddSearchFilter('Vendor')"
              />
              Vendor
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row d-flex flex-grow-1 table-responsive" style="max-height: 60vh">
    <table class="table">
      <thead class="table-light border">
        <tr class="">
          <th>
            <input
              type="checkbox"
              [checked]="this.allProductsSelected"
              (change)="onChangeSelectAllProducts()"
            />
          </th>
          <td class="col-2"><p class="table-head-p">Product Name</p></td>
          <td class="text-center"><p class="table-head-p">Status</p></td>
          <td>
            <p class="table-head-p">Category <img src="" alt="" /></p>
          </td>
          <td><p class="table-head-p">Vendors</p></td>
          <td><p class="table-head-p">Quantity</p></td>
          <td><p class="table-head-p">Unit</p></td>
          <td><p class="table-head-p">Price</p></td>
          <td><p class="table-head-p"></p></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of inventoryData; let i = index">
          <div>
            <td>
              <input
                type="checkbox"
                (change)="onChangeCheckbox(i, data.product_id)"
                [disabled]="data.quantity_in_stock == 0"
                [checked]="
                  (moveToCartData?.[data.product_id] || allProductsSelected) &&
                  data.quantity_in_stock != 0
                "
              />
            </td>
          </div>
          <td>
            <div class="d-flex">
              <div *ngIf="data.product_image">
                <img
                  [src]="data.product_image"
                  alt=""
                  width="20px"
                  height="20px"
                />
              </div>
              <div *ngIf="!data.product_image">
                <div
                  class="container d-flex justify-content-center align-items-center"
                  style="
                    background-color: rgb(143, 56, 225);
                    color: white;
                    border-radius: 50%;
                    height: 25px;
                    width: 25px;
                  "
                >
                  <p class="">{{ data.product_name[0] }}</p>
                </div>
              </div>
              <p class="ps-2">{{ data.product_name }}</p>
            </div>
          </td>
          <td>
            <div *ngIf="!productsInCart">
              <p
                *ngIf="data.quantity_in_stock > 0"
                class="status status-green px-2 py-1"
              >
                • Available
              </p>
              <p
                *ngIf="data.quantity_in_stock == 0"
                class="status status-grey px-2 py-1"
              >
                • Sold out
              </p>
            </div>
          </td>
          <td>
            <p>{{ data.category_name }}</p>
          </td>
          <td *ngIf="data.vendors.length <= 3">
            <div *ngIf="vendors">
              <div
                *ngFor="let vendor of data.vendors; let i = index"
                class="d-inline-flex"
              >
                <p
                  class="status px-2 py-1 ms-1 border"
                  style="color: white"
                  [ngStyle]="{
                    'background-color': vendorColors[vendor.vendor_name]
                  }"
                >
                  {{ vendor.vendor_name }}
                </p>
              </div>
            </div>
          </td>
          <td *ngIf="data.vendors.length > 3">
            <div *ngIf="vendors" class="d-inline-flex">
              <p
                class="status px-2 py-1 ms-1"
                style="color: white"
                [ngStyle]="{
                  'background-color': vendorColors[data.vendors[0].vendor_name]
                }"
              >
                {{ data.vendors[0].vendor_name }}
              </p>
              <p
                class="status px-2 py-1 ms-1"
                style="color: white"
                [ngStyle]="{
                  'background-color': vendorColors[data.vendors[1].vendor_name]
                }"
              >
                {{ data.vendors[1].vendor_name }}
              </p>
              <p
                class="status px-2 py-1 ms-1"
                style="color: white"
                [ngStyle]="{
                  'background-color': vendorColors[data.vendors[2].vendor_name]
                }"
              >
                {{ data.vendors[2].vendor_name }}
              </p>
              <p class="status status-grey px-2 py-1 ms-1">
                +{{ data.vendors.length - 3 }}
              </p>
            </div>
          </td>
          <td>
            <p>{{ data.quantity_in_stock }}</p>
          </td>
          <td>
            <p>{{ data.unit }}</p>
          </td>
          <td>
            <p>{{ data.unit_price }}</p>
          </td>
          <td>
            <img
              class="btn px-1"
              src="../../../../../assets/logos/download-logo.svg"
              (click)="onDownloadRow(data)"
              *ngIf="this.role == 2 || this.role == 3"
            />
            <img
              class="btn px-1"
              src="../../../../../assets/logos/edit-logo.svg"
              data-bs-toggle="modal"
              data-bs-target="#editProductModal"
              (click)="onEditingProduct(data)"
              *ngIf="this.role == 2 || this.role == 3"
            />
            <img
              class="btn px-1"
              src="../../../../../assets/logos/delete-logo.svg"
              (click)="onDeleteProduct(data.product_id)"
              *ngIf="this.role == 3"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row pt-1">
    <div>
      <ul class="pagination pagination-sm justify-content-between">
        <li class="page-item">
          <button
            class="page-link btn"
            [disabled]="pageNumber == 1"
            (click)="onPagePrevious()"
          >
            <img
              src="../../../../../assets/logos/arrow-left.svg"
              alt=""
              class="mb-1"
            />
            Previous
          </button>
        </li>

        <li class="page-item">
          <button
            *ngFor="let page of pageNumbers"
            (click)="goToPage(page)"
            class="page-click btn"
            [class.active]="page === pageNumber"
          >
            {{ page }}
          </button>
        </li>

        <li class="page-item">
          <button
            class="page-link btn"
            [disabled]="pageNumber == lastPage"
            (click)="onPageNext()"
          >
            Next
            <img
              src="../../../../../assets/logos/arrow-right.svg"
              alt=""
              class="mb-1"
            />
          </button>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--------------------- Add Product Modal ------------------------>

<div
  class="modal modal-sm fade"
  id="addProductModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="addProductModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="addProductModalLabel">Add product</h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="addProductForm">
          <app-custom-input
            label="Product Name"
            placeholder="Enter Product Name"
            formControlName="productName"
          ></app-custom-input>
          <app-custom-dropdown
            label="Category"
            [options]="categories"
            placeholder="Select category"
            formControlName="category"
          ></app-custom-dropdown>
          <div class="w-100">
            <label for="">Vendor</label>
            <div class="dropdown w-100">
              <button
                class="btn border dropdown-toggle"
                type="button"
                id="vendor-select"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Choose Vendor
              </button>
              <ul class="dropdown-menu w-100" aria-labelledby="vendor-select">
                <li class="w-100" *ngFor="let vendor of vendors; let i = index">
                  <a
                    class="dropdown-item w-100"
                    (click)="toggleVendorSelection(i)"
                  >
                    {{ vendor.name }}
                  </a>
                </li>
              </ul>
            </div>
            <div class="mt-3">
              <div class="d-flex flex-wrap">
                <div
                  *ngFor="let vendor of vendors; let i = index"
                  class="me-2 mb-2"
                >
                  <span
                    *ngIf="vendor.selected"
                    class="border p-1 rounded text-small status-grey"
                  >
                    {{ vendor.name }}
                    <button
                      class="btn btn-sm"
                      (click)="toggleVendorSelection(i)"
                    >
                      x
                    </button>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <app-custom-input
            label="Quantity in stock"
            placeholder="Enter quantity"
            formControlName="quantity"
          ></app-custom-input>
          <app-custom-input
            label="Unit"
            placeholder="Enter unit measure"
            formControlName="unit"
          ></app-custom-input>
          <app-custom-input
            label="Unit Price"
            placeholder="Enter unit price"
            formControlName="unitPrice"
          ></app-custom-input>
          <label
            style="cursor: pointer"
            class="border rounded w-100 p-5 text-center"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDropImageFile($event)"
          >
            <input
              type="file"
              formControlName="productImage"
              (change)="onImageFiles($event)"
              accept=".jpeg,.jpg,.png,.svg"
              style="visibility: hidden"
              class="position-absolute"
            />
            <div *ngIf="!this.file">
              <img
                src="../../../../../assets/logos/cloud-arrow-up.svg"
                alt=""
                width="20"
                height="20"
              />
              <p class="small text-muted">JPEG, JPG, SVG, PNG</p>
              <p class="small text-muted">
                <span><b>click to upload</b></span> or drag and drop
              </p>
            </div>
            <div *ngIf="this.file">
              <img [src]="urlCreator()" alt="" height="40" width="40" />
              <p class="small text-muted">
                <b>{{ this.file.name }}</b>
              </p>
              <p class="small text-muted">Click to choose again</p>
            </div>
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closingEditModal()"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="onAddProductFormSubmit()"
          [disabled]="this.addProductForm.invalid || this.selectedVendors === 0"
        >
          Add product
        </button>
      </div>
    </div>
  </div>
</div>

<!-----------------------Edit Product Modal------------------------->

<div
  class="modal modal-sm fade"
  id="editProductModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="editProductModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editProductModalLabel">
          Edit product
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          (click)="closingEditModal()"
        ></button>
      </div>
      <div *ngIf="editingData">
        <div class="modal-body">
          <form [formGroup]="addProductForm">
            <app-custom-input
              label="Product Name"
              [placeholder]="editingData.product_name"
              [value]="editingData.product_name"
              formControlName="productName"
            ></app-custom-input>
            <app-custom-dropdown
              label="Category"
              [options]="categories"
              [placeholder]="editingData.category_name"
              [value]="editingData.category_name"
              formControlName="category"
            ></app-custom-dropdown>
            <div class="w-100">
              <label for="">Vendor</label>
              <div class="dropdown w-100">
                <button
                  class="btn border dropdown-toggle"
                  type="button"
                  id="vendor-select"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  Choose Vendor
                </button>
                <ul class="dropdown-menu w-100" aria-labelledby="vendor-select">
                  <li
                    class="w-100"
                    *ngFor="let vendor of vendors; let i = index"
                  >
                    <a
                      class="dropdown-item w-100"
                      (click)="toggleVendorSelection(i)"
                    >
                      {{ vendor.name }}
                    </a>
                  </li>
                </ul>
              </div>
              <div class="mt-3">
                <div class="d-flex flex-wrap">
                  <div
                    *ngFor="let vendor of vendors; let i = index"
                    class="me-2 mb-2"
                  >
                    <span
                      *ngIf="vendor.selected"
                      class="border p-1 rounded text-small status-grey"
                    >
                      {{ vendor.name }}
                      <button
                        class="btn btn-sm"
                        (click)="toggleVendorSelection(i)"
                      >
                        x
                      </button>
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <app-custom-input
              label="Quantity in stock"
              [placeholder]="editingData.quantity_in_stock"
              [value]="editingData.quantity_in_stock"
              formControlName="quantity"
            ></app-custom-input>
            <app-custom-input
              label="Unit"
              [placeholder]="editingData.unit"
              [value]="editingData.unit"
              formControlName="unit"
            ></app-custom-input>
            <app-custom-input
              label="Unit Price"
              [placeholder]="editingData.unitPrice"
              [value]="editingData.unitPrice"
              formControlName="unitPrice"
            ></app-custom-input>
            <label
              style="cursor: pointer"
              class="border rounded w-100 p-5 text-center"
              (dragover)="onDragOver($event)"
              (dragleave)="onDragLeave($event)"
              (drop)="onDropImageFile($event)"
            >
              <input
                type="file"
                formControlName="productImage"
                (change)="onImageFiles($event)"
                accept=".jpeg,.jpg,.png,.svg"
                style="visibility: hidden"
                class="position-absolute"
              />
              <div *ngIf="!this.file">
                <img
                  src="../../../../../assets/logos/cloud-arrow-up.svg"
                  alt=""
                  width="20"
                  height="20"
                />
                <p class="small text-muted">JPEG, SVG, PNG</p>
                <p class="small text-muted">
                  <span><b>click to upload</b></span> or drag and drop
                </p>
              </div>
              <div *ngIf="this.file">
                <img [src]="urlCreator()" alt="" height="40" width="40" />
                <p class="small text-muted">
                  <b>{{ this.file.name }}</b>
                </p>
                <p class="small text-muted">Click to choose again</p>
              </div>
            </label>
          </form>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="closingEditModal()"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="updateProductFormSubmit()"
          [disabled]="this.selectedVendors === 0"
        >
          Submit
        </button>
      </div>
    </div>
  </div>
</div>

<!--------------------- Move to cart Modal ------------------------->

<div
  class="modal modal-lg fade"
  id="moveToCartModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="moveToCartModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="moveToCartModalLabel">Move to cart</h1>
      </div>
      <div class="modal-body">
        <div *ngIf="moveToCartData">
          <table class="table">
            <thead class="table-light border">
              <tr class="">
                <th>
                  <input type="checkbox" (change)="onMoveToCartAllSelect()" />
                </th>
                <td class="col-3"><p class="table-head-p">Product Name</p></td>
                <td>
                  <p class="table-head-p">Category <img src="" alt="" /></p>
                </td>
                <td class="table-head-p">Vendor</td>
                <td><p class="table-head-p">Quantity</p></td>
                <td><p class="table-head-p"></p></td>
                <td><p class="table-head-p"></p></td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of moveToCartData | keyvalue; let i = index">
                <td>
                  <input
                    type="checkbox"
                    [checked]="this.moveToCartAllSelected"
                    (change)="onChangeModalCheckbox(data.value.product_id)"
                  />
                </td>
                <td>
                  <div class="d-flex">
                    <img
                      *ngIf="data.value.product_image"
                      [src]="data.value.product_image"
                      alt=""
                      width="10px"
                      height="10px"
                    />
                    <img
                      *ngIf="!data.value.product_image"
                      src="../../../../../assets/images/Group.svg"
                      alt=""
                      width="20px"
                      height="20px"
                    />
                    <p class="ps-2 py-0 text-small">
                      {{ data.value.product_name }}
                    </p>
                  </div>
                </td>
                <td>
                  <p class="ps-2 py-0 text-small">
                    {{ data.value.category_name }}
                  </p>
                </td>
                <td>
                  <div class="dropdown w-100">
                    <select
                      (change)="onVendorSelect($event, data.value.product_id)"
                    >
                      <option
                        *ngFor="let vendor of data.value.vendors"
                        [value]="vendor.vendor_name"
                      >
                        {{ vendor.vendor_name }}
                      </option>
                    </select>
                  </div>
                </td>
                <td>
                  <button
                    class="btn btn-sm btn-outline-secondary rounded"
                    (click)="
                      decreaseMoveToCartProduct(data.key, data.value.product_id)
                    "
                    [disabled]="data.value.quantity == 1"
                  >
                    -
                  </button>
                  {{ data.value.quantity }}
                  <button
                    (click)="
                      increaseMoveToCartProduct(data.key, data.value.product_id)
                    "
                    class="btn btn-sm btn-outline-secondary rounded"
                    [disabled]="
                      data.value.quantity == data.value.quantity_in_stock
                    "
                  >
                    +
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-sm btn-outline-secondary"
                    (click)="deleteFromTempcartData(i, data.value.product_id)"
                  >
                    <img
                      src="../../../../../assets/logos/delete-logo.svg"
                      alt=""
                    />
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div *ngIf="!moveToCartData">
          <p><b>No data to move to cart</b></p>
        </div>
      </div>
      <div class="modal-footer d-flex justify-content-evenly">
        <button
          type="button"
          class="btn btn-secondary col-3"
          data-bs-dismiss="modal"
        >
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary col-3"
          data-bs-dismiss="modal"
          (click)="onMoveToFinalCart()"
          [disabled]="!this.moveToCartData"
        >
          Move
        </button>
      </div>
    </div>
  </div>
</div>

<!---------------------- Import File Modal -------------------------->

<div
  class="modal modal-sm fade"
  id="importFileModal"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="importFileModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="importFileModalLabel">Select File</h1>
      </div>
      <div class="modal-body">
        <form [formGroup]="addProductForm">
          <label
            style="cursor: pointer"
            class="border rounded w-100 p-5 text-center"
            (dragover)="onDragOver($event)"
            (dragleave)="onDragLeave($event)"
            (drop)="onDropExcelFile($event)"
          >
            <input
              type="file"
              formControlName="productImage"
              (change)="onExcelFile($event)"
              accept=".xlx,.xlsx"
              style="visibility: hidden"
              class="position-absolute"
            />
            <div *ngIf="!this.file">
              <img
                src="../../../../../assets/logos/cloud-arrow-up.svg"
                alt=""
                width="20"
                height="20"
              />
              <p class="small text-muted">.xlsx or .xlx</p>
              <p class="small text-muted">
                <span><b>click to upload</b></span> or drag and drop
              </p>
            </div>
            <div *ngIf="this.file">
              <img
                src="../../../../../assets/logos/Microsoft_Office_Excel_Logo.svg"
                alt=""
                height="40"
                width="40"
              />
              <p class="small text-muted">
                <b>{{ this.file.name }}</b>
              </p>
              <p class="small text-muted">Click to choose again</p>
            </div>
          </label>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary"
          data-bs-dismiss="modal"
          (click)="onCloseImport()"
        >
          Close
        </button>
        <button
          type="submit"
          class="btn btn-primary"
          data-bs-dismiss="modal"
          (click)="uploadFile()"
          [disabled]="!this.file"
        >
          Import Products
        </button>
      </div>
    </div>
  </div>
</div>
