<div class="container-fluid d-flex flex-column">
  <div class="row">
    <div class="pt-3 px-3">
      <h6>Cart</h6>
    </div>
  </div>
  <div class="row">
    <div class="container-fluid d-flex justify-content-between m-2">
      <div>
        <button
          class="btn btn-sm btn-outline-dark custom-btn-1"
          (click)="changeToInventoryComponent()"
        >
          View all
        </button>
        <button class="btn btn-sm btn-outline-dark custom-btn-2 status-grey">
          Cart
        </button>
        <button
          class="btn btn-sm btn-outline-dark custom-btn-2"
          (click)="changeToExcelFilesComponent()"
        >
          Files
        </button>
      </div>
      <div class="col-5 d-flex mx-2">
        <form [formGroup]="searchForm" class="w-100">
          <input
            class="form-control form-control-sm mr-sm-2"
            type="search"
            formControlName="inputValue"
            (keyup)="onSearch($event)"
            placeholder="Search"
          />
        </form>
        <div class="dropdown">
          <button
            class="btn btn-sm dropdown-toggle border"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img src="../../../../../assets/logos/filter.svg" alt="" />
            Filter
          </button>
          <ul class="dropdown-menu">
            <li>
              <input
                type="checkbox"
                class="btn ms-2"
                (click)="onAddSearchFilter('ProductName')"
              />
              Product Name
            </li>
            <li>
              <input
                type="checkbox"
                class="btn ms-2"
                (click)="onAddSearchFilter('Category')"
              />
              Category
            </li>
            <li>
              <input
                type="checkbox"
                class="btn ms-2"
                (click)="onAddSearchFilter('Vendor')"
              />
              Vendor
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div
    class="row d-flex flex-grow-1 table-responsive"
    style="max-height: 70vh; overflow-x: hidden"
  >
    <table class="table">
      <thead class="table-light border">
        <tr class="">
          <td class="col-3"><p class="table-head-p">Product Name</p></td>
          <td>
            <p class="table-head-p">Category <img src="" alt="" /></p>
          </td>
          <td><p class="table-head-p">Quantity</p></td>
          <td><p class="table-head-p"></p></td>
          <td><p class="table-head-p"></p></td>
        </tr>
      </thead>
      <tbody>
        <!-- <div *ngIf="!cartData">
          <h5>Please add items to cart</h5>
        </div> -->
        <tr *ngFor="let data of cartData; let i = index">
          <td>
            <div class="d-flex">
              <img
                *ngIf="data.product_image"
                [src]="data.product_image"
                alt=""
                width="10px"
                height="10px"
              />
              <img
                *ngIf="!data.product_image"
                src="../../../../../assets/images/Group.svg"
                alt=""
                width="20px"
                height="20px"
              />
              <p class="ps-2 py-0 text-small">
                {{ data.product_name }}
              </p>
            </div>
          </td>
          <td>
            <p class="ps-2 py-0 text-small">{{ data.category_name }}</p>
          </td>
          <td>
            <p>{{ data.selectedVendor }}</p>
          </td>
          <td>
            <button
              class="btn btn-sm btn-outline-secondary rounded"
              (click)="decreaseCartProduct(i, data.product_id)"
              [disabled]="data.quantity == 1"
            >
              -
            </button>
            {{ data.quantity }}
            <button
              (click)="increaseCartProduct(i, data.product_id)"
              class="btn btn-sm btn-outline-secondary rounded"
              [disabled]="data.quantity == data.quantity_in_stock"
            >
              +
            </button>
          </td>
          <td>
            <button
              class="btn btn-sm btn-outline-secondary"
              (click)="deleteFromTempcartData(i, data.product_id)"
            >
              <img src="../../../../../assets/logos/delete-logo.svg" alt="" />
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- <div class="row">
      <div>
        <ul class="pagination pagination-sm justify-content-between">
          <li class="page-item">
            <button
              class="page-link btn"
              [disabled]="pageNumber == 1"
              (click)="onPagePrevious()"
            >
              <img
                src="../../../../../assets/logos/arrow-left.svg"
                alt=""
                class="mb-1"
              />
              Previous
            </button>
          </li>
  
          <li class="page-item">
            <button
              class="page-link btn"
              [disabled]="pageNumber == lastPage"
              (click)="onPageNext()"
            >
              Next
              <img
                src="../../../../../assets/logos/arrow-right.svg"
                alt=""
                class="mb-1"
              />
            </button>
          </li>
        </ul>
      </div>
    </div> -->
</div>
