<div class="container-fluid px-5 vh-100 d-flex flex-column container-main">
  <app-navbar></app-navbar>
  <div class="row mb-2 flex-grow-1">
    <div class="col-8 extra-width p-0 gy-3 rounded white-background">
      <div *ngIf="requiredComponent == 'Inventory'">
        <app-inventory (toggler)="onToggle($event)"></app-inventory>
      </div>
      <div *ngIf="requiredComponent == 'Cart'">
        <app-cart (toggler)="onToggle($event)"></app-cart>
      </div>
      <div *ngIf="requiredComponent == 'Files'">
        <app-import-products (toggler)="onToggle($event)" ></app-import-products>
      </div>
      <div *ngIf="requiredComponent == 'Chats'">
        <app-chat (toggler)="onToggle($event)" ></app-chat>
      </div>
    </div>
    <div class="col-3 p-0 gy-3 ms-auto white-background">
      <app-files></app-files>
    </div>
  </div>
</div>
