<div class="container-fluid vh-100" style="max-height:100vh;">
    <div class="row h-100">
      <div class="col-md-6 d-flex flex-column">
        <div class="row">
          <div class="col-12 py-2">
            <h5>
              <img
                src="../../../../../assets/images/Group.svg"
                alt=""
                width="30px"
                height="30px"
              /><span><b> Inventory Management</b></span>
            </h5>
          </div>
        </div>
        <div class="row flex-grow-1">
          <div
            class="col-12 d-flex flex-column justify-content-center align-items-center"
          >
            <form
              [formGroup]="forgotForm"
              class="col-md-6"
              (ngSubmit)="onSubmit()"
            >
              <div class="align-self-start">
                <h4>Forgot Password?</h4>
                <p><small>Please enter your registered email</small></p>
              </div>
              <app-custom-input
                type="email"
                placeholder="Enter your email"
                formControlName="email"
              ></app-custom-input>
              <div class="d-grid text-center">
                <button class="btn btn-primary" [disabled]="this.forgotForm.invalid">Reset</button>
                <p>
                  <small
                    ><small
                      >Already have an account?
                      <a routerLink="/auth/login" style="text-decoration: none"
                        >Login</a
                      ></small
                    ></small
                  >
                </p>
              </div>
            </form>
          </div>
        </div>
        <div class="row">
          <div class="col-12 py-2">
            <span
              ><small><small>©Inventory Management 2025</small></small></span
            >
          </div>
        </div>
      </div>
      <div class="col p-0 h-100 object-fit">
        <img
          src="../../../../../assets/images/login image.png"
          class="img-fluid"
          style="object-fit: cover; height: 585px; width: 650px"
          alt=""
        />
      </div>
    </div>
  </div>
  