.status-green {
  background-color: #46e34b;
  color: #000000;
}

.status-blue{
  background-color: rgb(148, 84, 208);
  color: black;
}

.status-grey {
  background-color: rgb(226, 226, 226);
  color: rgb(54, 54, 54);
}
  .custom-btn-1 {
    border-radius: 5px 0 0 5px;
  }
  .custom-btn-2 {
    border-radius: 0 5px 5px 0;
  }
  .custom-btn-3 {
    border-radius: 0 0 0 0;
  }
  

  .table-head-p {
    margin: 0;
    font-size: x-small;
  }
  p {
    margin: 0;
    font-size: small;
  }